/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap"); */

.u-textCenter {
  text-align: center;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

:root {
  --primary: #396dff;
  --grey: #f7f7f7;
  --white: #fff;
}

.navTitle {
  color: var(--white);
  font-size: 20px;
  /* Below cancels out some of the default styling of h1 */
  margin: 0;
  font-weight: normal;
}

.navContainer {
  background-color: var(--primary);
  padding: 8px 16px;
}

.avatarContainer {
  padding: 0 40%;
}

.avatar {
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* make it a circle */
  border-radius: 50%;

  /* Add image */
  background-image: url("trees.jpeg");

  /* Centering on image`s center*/
  background-position: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  opacity: 90%;
}

.avatar:hover {
  opacity: 100%;
}

.favoritesFlex {
  padding: 0% 25%;
  display: flex;
}

.u-flexItem {
  flex: 1;
}
